# Build
qpp/build-prefetch-Desktop_x86_windows_mingw4_8_2_32bit-Debug
qpp/build-prefetch-Desktop_x86_windows_mingw4_8_2_32bit-Release

# Ide setting

# Qt Creator
qpp/prefetch/prefetch.pro.user

# VSCode
qpp/prefetch/.vscode/c_cpp_properties.json
qpp/prefetch/.vscode/launch.json
qpp/prefetch/.vscode/tasks.json
qpp/prefetch/env.bat

# Tool environment
qpp/prefetch/Tool/env.bat

# Log
*.log

# Python venv
qpp/prefetch/.venv

# DLL
qpp/prefetch/requirements

# Python compile cache
*.pyc

# Tool ParseProcmonLog.py user data
qpp/prefetch/Tool/Logfile.CSV

# Wiki
wiki/prefetch.wiki/

# Third party libraries
qpp/prefetch/Source/ThirdParty/boost