# Emulate VSCode cpptools formatter
# https://code.visualstudio.com/docs/cpp/cpp-ide#_code-formatting
# https://zed0.co.uk/clang-format-configurator
---
# From VSCode document
UseTab: Never
IndentWidth: '4'
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: 'false'
# Emulate
AccessModifierOffset: '-4'
ColumnLimit: '0'
FixNamespaceComments: 'false'
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: All
# You can fail to compile if sort certain include sequence
# For example "translate_tool.h"
SortIncludes: 'false'
SortUsingDeclarations: 'false'
# Other
Language: Cpp
# ...

